.current {
    top: 53.5px;
}

.top {
    top: -70px;
}

.bottom {
    top: 180px;
}

.offscreenBottom, .offscreenTop {
    transition: 0.1s !important;
}

.offscreenTop {
    top: -90px;
}

.offscreenBottom {
    top: 200px;
}

.red {
    animation: 0.6s red linear;
}

.green {
    animation: 0.6s green linear;
}

@keyframes red {
    0% {
        fill: #EBD730;
    }

    50% {
        fill: red;
    }

    100% {
        fill: #EBD730;
    }
}

@keyframes green {
    0% {
        fill: #EBD730;
    }

    50% {
        fill: green;
    }

    100% {
        fill: #EBD730;
    }
}